<h2>WHAT I DO</h2>

<div class="wid_cards_p">
  <div class="wid_cards">
    <span>
      <div class="wid_card">
        <h4>Web Designing</h4>
      </div>
      <div class="wid_card">
        <h4>Web Development</h4>
      </div>
      <div class="wid_card">
        <h4>E-commerce Sites</h4>
      </div>
    </span>

    <span>
      <div class="wid_card">
        <h4>Brochure Sites</h4>
      </div>
      <div class="wid_card">
        <h4>Social Media Platforms</h4>
      </div>
      <div class="wid_card">
        <h4>SEO Optimizing</h4>
      </div>
    </span>

    <span>
      <div class="wid_card">
        <h4>Marketing Strategies</h4>
      </div>
      <div class="wid_card">
        <h4>Web Testing</h4>
      </div>
      <div class="wid_card">
        <h4>Branding</h4>
      </div>
    </span>
  </div>
</div>

<!-- Seperation -->

<div class="wid_cards_d">
  <span>
    <div class="wid_card">
      <h4>Web Designing</h4>
    </div>
    <div class="wid_card">
      <h4>Web Development</h4>
    </div>
    <div class="wid_card">
      <h4>E-commerce Sites</h4>
    </div>
  </span>

  <span>
    <div class="wid_card">
      <h4>Brochure Sites</h4>
    </div>
    <div class="wid_card">
      <h4>Social Media Platforms</h4>
    </div>
  </span>

  <span>
    <div class="wid_card">
      <h4>SEO Optimizing</h4>
    </div>
    <div class="wid_card">
      <h4>Marketing Strategies</h4>
    </div>
    <div class="wid_card">
      <h4>Web Testing</h4>
    </div>
  </span>

  <span>
    <div class="wid_card">
      <h4>Branding</h4>
    </div>
    <div class="wid_card">
      <h4>And more...</h4>
    </div>
  </span>
</div>
