* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #111111;
  --secondary-color: #fff;
  --accent-color: #ff8e3d;
  --font-family: 'Montserrat', sans-serif;
  --font-family2: 'Playfair Display', serif;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font-family);
}

button {
  outline: none;
  cursor: pointer;
  transition: ease 300ms;
}

button:focus {
  outline: initial;
}

input {
  outline: none;
}

input:focus {
  outline: initial;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: initial;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 26px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) and (min-height: 1365px) and (max-height: 1366px) {
  html {
    font-size: 34px;
  }
}

@media all and (min-width: 1025px) {
  html {
    font-size: 1.25vw;
  }
}
