.wid {
  padding: 11rem 0 0 7%;
}

.wid h2 {
  font-size: 2.18rem;
  position: relative;
  margin-left: 9%;
}

.wid h2::before {
  content: '02';
  font-family: var(--font-family2);
  position: absolute;
  font-weight: 100;
  font-size: 1.25rem;
  left: -9.7%;
  top: -7.5%;
}

.wid_cards_p {
  overflow-x: scroll;
}

.wid_cards {
  width: 185vw;
}

.wid_cards:first-child {
  margin-top: 1.55rem;
}

.wid_cards span {
  display: flex;
  margin-top: 0.8rem;
}

.wid_card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.43rem;
  height: 3.43rem;
  background: #292929;
  margin-right: 0.8rem;
}

.wid_card h4 {
  color: #e7e7e7;
  font-size: 1rem;
  font-weight: 400;
}

.wid_cards_d {
  display: none;
}

@media all and (min-width: 1025px) {
  .wid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 11rem 0 0 0%;
  }

  .wid h2 {
    font-size: 3.75rem;
    position: relative;
    margin-left: 0%;
    display: initial;
    align-self: center;
  }

  .wid h2::before {
    content: '02';
    font-family: var(--font-family2);
    position: absolute;
    font-weight: 100;
    font-size: 1.72rem;
    left: -12%;
    top: -3.4%;
  }

  .wid h2::after {
    content: '';
    position: absolute;
    left: 40%;
    width: 2.9rem;
    height: 0.125rem;
    background: var(--accent-color);
    margin-top: 25%;
  }

  .wid_cards_p {
    display: none;
  }

  .wid_cards_d {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .wid_cards_d span {
    display: flex;
    justify-content: space-between;
  }

  .wid_cards_d span:first-child {
    width: 68%;
    margin-top: 4.7%;
  }

  .wid_cards_d span:nth-child(2) {
    width: 45%;
    margin-top: 1.92%;
  }

  .wid_cards_d span:nth-child(3) {
    width: 68%;
    margin-top: 1.92%;
  }

  .wid_cards_d span:last-child {
    width: 45%;
    margin-top: 1.92%;
  }

  .wid_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.55rem;
    height: 3.81rem;
    background: #292929;
    margin-right: 0.8rem;
    border-radius: 2.8rem;
  }

  .wid_card h4 {
    color: #cbcbcb;
    font-size: 1.02rem;
    font-weight: 400;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .wid_cards {
    width: 140vw;
  }
}
