@import url('../all/nav.css');
@import url('../all/resets.css');
@import url('../all/footer.css');
@import url('../home/contact.css');
@import url('./all_projects.css');

.hero {
  padding: 5rem 0 0 7%;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 4.4rem;
}

.hero h1::before {
  content: '01';
  font-family: var(--font-family2);
  position: absolute;
  font-weight: 100;
  font-size: 1.32rem;
  margin-top: -8.8%;
}

.hero h1::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 1.05px;
  background: #5b5b5b;
  left: 0;
  margin-top: 3.2rem;
}

@media all and (min-width: 1025px) {
  .hero {
    padding: 5rem 0 0 8%;
  }

  .hero h1 {
    font-size: 4rem;
    margin-bottom: 4.4rem;
    margin-left: 4%;
  }

  .hero h1::before {
    content: '01';
    font-family: var(--font-family2);
    position: absolute;
    font-weight: 100;
    font-size: 2rem;
    margin-top: 0%;
    margin-left: -4%;
  }

  .hero h1::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 1.05px;
    background: #5b5b5b;
    left: 0;
    margin-top: 7.2%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .hero h1 {
    font-size: 2.2rem;
  }

  .hero h1::before {
    content: '01';
    font-family: var(--font-family2);
    position: absolute;
    font-weight: 100;
    font-size: 1.32rem;
    margin-top: -7.2%;
  }

  .hero h1::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 1.05px;
    background: #5b5b5b;
    left: 0;
    margin-top: 3.3rem;
  }
}
