.skills {
  margin-top: 10rem;
  padding-left: 7%;
}

.skills h2 {
  font-size: 2.3rem;
}

.skills h2::before {
  content: '04';
  font-family: var(--font-family2);
  position: absolute;
  font-weight: 200;
  font-size: 1.2rem;
  margin-top: -8%;
}

.skills h2::after {
  content: '';
  position: absolute;
  height: 1px;
  background: #5b5b5b;
  left: 0;
  margin-top: 3.52rem;
  width: 35%;
}

.skills__cards_p {
  overflow-x: scroll;
}

.skills__cards {
  margin-top: 3rem;
  width: 210vw;
}

.skills__cards span {
  display: flex;
  margin-top: 0.9rem;
}

.skills__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8.6rem;
  height: 5rem;
  background: #2b2b2b;
  margin-right: 1rem;
}

.skills__card h4 {
  font-size: 0.86rem;
  margin-top: 0.6rem;
}
