{% load static %}

<h2>MY STRENGTHS</h2>

<div class="strengths__cards">
  <div class="strengths__card">
    <img src="{% static '/svg/design.svg' %}" alt="design icon" />

    <h3>Design</h3>
    <p>
      Great design is a big factor when it comes to traffic and that’s why we
      focus on it the most.
    </p>
  </div>

  <div class="strengths__card">
    <img src="{% static '/svg/code.svg' %}" alt="code icon" />

    <h3>Coding</h3>
    <p>
      A well built and a well structed website is an important factor to a
      sucessfull business.
    </p>
  </div>

  <div class="strengths__card">
    <img src="{% static '/svg/marketing.svg' %}" alt="marketing icon" />

    <h3>Marketing</h3>
    <p>
      Marketing is a huge part of having a successfull business, and that’s why
      it is our main focus.
    </p>
  </div>
</div>
