<div class="contact__aside">
  <h2>
    <span>Let's build</span> <span>your project</span> <span>together</span>
  </h2>

  <h5 id="success">Message successfully sent</h5>

  <ul id="project_details">
    <li>- project idea</li>
    <li>- project pricing</li>
    <li>- estimated time</li>
  </ul>
</div>

<div class="contact__forms">
  <div class="contact__form">
    <label for="name" id="name_label">Full Name</label>
    <input type="text" name="name" id="name" />
  </div>

  <div class="contact__form">
    <label for="email" id="email_label">Email Address</label>
    <input type="email" id="email" name="email" />
  </div>

  <div class="contact__form_textarea">
    <label for="msg" id="msg_label">Your Message</label>
    <textarea name="msg" id="msg" name="msg" cols="30" rows="10"></textarea>
  </div>

  <button class="send_button">Send Message</button>
</div>
