<h2>
  <span>Let's build</span> <span>your project</span> <span>together</span>
</h2>
<div class="contact__forms">
  <div class="contact__form">
    <label for="name">Full Name</label>
    <input type="text" name="name" id="name" required />
  </div>

  <div class="contact__form">
    <label for="email">Email Address</label>
    <input type="email" id="email" name="email" required />
  </div>

  <div class="contact__form_textarea">
    <label for="msg">Your Message</label>
    <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
  </div>

  <button>Send Message</button>
</div>
