<h2>
  <span>Let's build</span> <span>your project</span> <span>together</span>
</h2>
<div class="contact__forms">
  <div class="contact__form">
    <label for="name" id="name_label">Full Name</label>
    <input type="text" name="name" id="name" />
  </div>

  <div class="contact__form">
    <label for="email" id="email_label">Email Address</label>
    <input type="email" id="email" name="email" />
  </div>

  <div class="contact__form_textarea">
    <label for="msg" id="msg_label">Your Message</label>
    <textarea name="msg" id="msg" name="msg" cols="30" rows="10"></textarea>
  </div>

  <button class="send_button">Send Message</button>
</div>
