<h2 id="socials_title"><span>Socials & Info</span></h2>
<div class="socials_wrapper">
  <ul class="socials_links">
    <li>
      <a target="_blank" href="https://www.instagram.com/_tommyyh/"
        >Instagram</a
      >
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/Tommy08413211">Twitter</a>
    </li>
    <li><a target="_blank" href="https://github.com/tommyyh">Github</a></li>
    <li>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/tommy-hoang-665020205/"
        >LinkedIn</a
      >
    </li>
  </ul>
  <ul class="socials_info">
    <li>Location: Czech Republic</li>
    <li>Email: tommyyhoangg@gmail.com</li>
    <li>Tel: +420 797 602 438</li>
  </ul>
</div>
